.main {
	padding: 5px;
}

button {
	cursor: pointer;
}

.tableRow {
	height: 30px;
}

.floorField {
	border: 1px solid black;
	width: 100px;
	text-align: center;
	font-size: 1em;
	user-select: none;
	cursor: pointer;
	box-sizing: border-box;
}

.activeBtn:hover {
	background-color: lightgray;
}

.btPressed {
	background-color: green;
	color: white;
	border: 2px solid black;
}

.elevator-idle {
	background-color: red;
}

.elevator-stopped {
	background-color: yellow;
}

.elevator-moving {
	background-color: green;
}

.floor-selected {
	border: 3px solid blue;
}

.stepBtn {
	display: block;
	font-size: 1.2em;
}

.legend h4 {
	margin-bottom: 0;
}
.legend ul {
	margin-top: 0;
}

.legend-field {
	display: inline-block;
	width: 50px;
	height: 25px;
	position: relative;
	top: 7px;
}
