.floorField {
	border: 1px solid black;
	width: 100px;
	text-align: center;
	font-size: 1.2em;
}

.btPressed {
	background-color: green;
}

.elevator-idle {
	background-color: red;
}

.elevator-stopped {
	background-color: yellow;
}

.elevator-moving {
	background-color: green;
}
